In [1]:
import os

# Change the current working directory to the specified path
new_directory = r'C:\Users\vladimir.shpilkin\Desktop\Learning\Python-Projects\py_sql_analysis'
os.chdir(new_directory)

# Print the new current working directory
print('New directory is', os.getcwd())

# Import necessary libraries
import sqlite3
import pandas as pd

# Read the CSV file located in the new directory
bank_data = 'Employee_Salary_Dataset.csv'
bank_data_df = pd.read_csv(bank_data)

# Establish a connection to the SQLite database
connection_employee_salary = sqlite3.connect('Employee_Salary_Dataset.db')

# Write the DataFrame to the SQLite database
employee_salary = bank_data_df.to_sql('Employee_Salary_Dataset', connection_employee_salary, if_exists='replace', index=False)

# Create a cursor for the database
cursor = connection_employee_salary.cursor()

New directory is c:\Users\vladimir.shpilkin\Desktop\Learning\Python-Projects\py_sql_analysis

In [29]:
results_male = cursor.execute('SELECT "Age", ROUND(AVG("Salary"), 1) AS "Avg_Male_Salary" FROM "Employee_Salary_Dataset" WHERE "Gender" = "Male"')
avg_male_salary = results_male.fetchone()[1]
print(avg_male_salary)

2063626.5

In [30]:
results_female = cursor.execute('SELECT "Age", ROUND(AVG("Salary"), 1) AS "Avg_Male_Salary" FROM "Employee_Salary_Dataset" WHERE "Gender" = "Female"')
avg_female_salary = results_male.fetchone()[1]
print(avg_female_salary)

2054916.7

In [32]:
round(avg_male_salary-avg_female_salary,2)

8709.8