In [213]:
import os
import pandas as pd

new_directory = r'C:\Users\vladimir.shpilkin\Desktop\Learning\Python-Projects\process_mining'
os.chdir(new_directory)

ekko = 'EKKO.csv'
ekpo = 'EKPO.csv'
cdpos = 'CDPOS.csv'
cdhdr = 'CDHDR.csv'

ekko_df = pd.read_csv(ekko).reset_index()
ekpo_df = pd.read_csv(ekpo).reset_index()
cdpos_df = pd.read_csv(cdpos).reset_index()
cdhdr_df = pd.read_csv(cdhdr).reset_index()



ekpo_ekko_joined = ekpo_df.set_index(['EBELN']).join(
    ekko_df.set_index(['EBELN']), how='left', rsuffix='BURKS'
).reset_index()

cdpos_cdhdr_joined = cdpos_df.set_index(['OBJECTID', 'CHANGENR']).join(
    cdhdr_df.set_index(['OBJECTID', 'CHANGENR']), how='left', rsuffix='OBJECTCLAS'
).reset_index(drop=False)

merged_df = pd.merge(ekpo_ekko_joined, cdpos_cdhdr_joined, left_on='EBELN', right_on='OBJECTID', how='inner')
merged_df.to_csv('test.csv')
pivot = pd.pivot_table(merged_df, values='NETWR', index=['MANDT','EBELN', 'EBELP', 'UDATE']).reset_index()
pivot =pivot.drop('EBELP', axis=1)

In [214]:
pivot.columns

Index(['MANDT', 'EBELN', 'UDATE', 'NETWR'], dtype='object')

In [224]:
#user inputs for MANDT and EBELN

def user_inputs():
    value1 = int(input('MANDT: '))
    value2 = int(input('EBELN: '))
    return value1, value2

# Get user inputs
user_input1, user_input2 = user_inputs()

# Filter the DataFrame based on user inputs
filtered_pivot = pivot[(pivot['MANDT'] == user_input1) & (pivot['EBELN'] == user_input2)].reset_index(drop=True)

# Additional filtering and grouping
filtered_pivot = filtered_pivot.groupby(['MANDT','EBELN', 'UDATE']).sum().reset_index()

In [226]:
filtered_pivot

   MANDT     EBELN                UDATE     NETWR
0     10  71154204  2018-02-23T00:00:00  65839.52
1     10  71154204  2019-04-02T00:00:00  65839.52
2     10  71154204  2019-11-22T00:00:00  65839.52